<app-toolbar></app-toolbar>
<div class="mission" [ngStyle]="{'background-image': 'url(assets/about.jpg)'}">
    <h1>Our Mission</h1>
    <h3>
        The founding idea of this website was how to put together motivated handyworkers with people that have a renovation project or a vision of how to make their surrounding more aesthetic.
    </h3>
</div>

<div class="containerLeftContent">
    <div class="containerLeftContent_text">
        <h2>Hello</h2>
        <p>Sample</p>
        <p>Sample</p>
    </div>
    <img class="containerLeftContent_image" src="assets/cement.jpg"/>
</div>

<div class="containerRightContent">
    <img class="containerRightContent_image" src="assets/cement.jpg"/>
    <div class="containerRightContent_text">
        <h2>Title</h2>
        <p>SampleText</p>
        <p>SampleText</p>
    </div>
</div>