<app-toolbar></app-toolbar>
<div class="mission">
    <h1>Our Mission</h1>
    <h3>
        The founding idea of this website was how easy it is to scam strangers.
        Thank you for providing us with money to feed our greedy bottoms.
        Why is it called our bottom if it is in the middle of our body.
    </h3>
</div>

<div class="containerLeftContent">
    <div class="containerLeftContent_text">
        <h2>Hello</h2>
        <p>Sample</p>
        <p>Sample</p>
    </div>
    <img class="containerLeftContent_image" src="../../../assets/cement.jpg"/>
</div>

<div class="containerRightContent">
    <img class="containerRightContent_image" src="../../../assets/cement.jpg"/>
    <div class="containerRightContent_text">
        <h2>Title</h2>
        <p>SampleText</p>
        <p>SampleText</p>
    </div>
</div>