$toolbarHeight: 60px;

div.mission {
    
    background-image: url("../../../assets/about.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height : calc(100vh - #{$toolbarHeight});
}

h1 {
    
    line-height: 5;
}

div * {
    
    margin: 0;
    color: white;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}