@import 'src/colors';

i {
  font-size: xx-large;
}
i:hover {
  cursor: pointer;
}

.footer-area {
  background-color: $color-black;
  color: whitesmoke;
}
.footer-area .social li {
  display: inline-block;
  margin: 0 5px;
}
ul {
  padding: 0;
}
