<section class="footer-area footer-dark">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="footer-logo text-center">
          <a class="mt-30" href="#"
            ><img src="assets/logo.png" alt="Logo"
          /></a>
        </div>
        <ul class="social text-center mt-60">
          <li>
            <a href="https://www.facebook.com/funnyinpublic"
              ><i class="fab fa-facebook-f"></i
            ></a>
          </li>
          <li>
            <a href="https://twitter.com/kevinheart4reaI"
              ><i class="fab fa-twitter"></i
            ></a>
          </li>
          <li>
            <a href="https://www.instagram.com/kevinhart4real/"
              ><i class="fab fa-instagram"></i
            ></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/souleiman-ayoub-b82748165/"><i class="fab fa-linkedin-in"></i></a>
          </li>
        </ul>
        <div class="footer-support text-center">
          <span class="mail">soontocome@gmail.com</span>
        </div>
        <br>
      </div>
    </div>
  </div>
</section>
