.grid{
  padding-left : 15px;
  padding-right : 15px;
  padding-top : 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
}


.padder{
  padding-left : 40px;
  padding-right : 40px;
  padding-top : 20px;
}
.mainContainer{
  width : 90vw;
  margin-left : auto;
  margin-right : auto;
}

.imageSeller{
  width : 24%;
  margin : 0.5% 0.5%;
  height : 300px;
}
.button {
  width : 90%;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px auto;
  cursor: pointer;
}


.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.active_card, .unactive_card{
  height : 100%;
  width : 100%;
  position: relative;
  text-align: center;
  color: white;

  h1{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  }
}


.unactive_card h1{
  display: none;
}

.unactive_card:hover{
  background-color: black;
  
  img{
    opacity: 0.4;
  }
  h1{
    display: block;
  }
}


.active_card{
  background-color: green;
  img{
    opacity: 0;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
  }
  h1{
    display: block;
  }
}


.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}