<div class="toolbar">
  <app-toolbar></app-toolbar>
</div>
<div class="panel1">
  <div class="section">
    <h1>Buy, sell and rent scamfully.</h1>
    <h2>
      FastFix is a classified ads site accessible through scamming. It's free
      and guaranteed to be scam-free for us.
    </h2>
  </div>
</div>

<div class="popularChoices">
  <h1>Popular Choices</h1>
  <app-custom-carousel [allData]="this.cards"></app-custom-carousel>
</div>

<div class="reviews">
  <div class="objectifContainer">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-xl-5 col-lg-6">
          <h4>TESTIMONIALS</h4>
          <h2>Welcome to FastFix</h2>
          <h5 style="margin-bottom: 5px">
            Our goal is to bring together handy people as well as people that
            wish for some help in a construction project
          </h5>
          <br />
          <p>
            Duis aute irure dolor in reprehen derit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non. Tion ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit
            esse cillum.
          </p>
        </div>
        <div class="col-lg-6">
          <div class="testimonial-right-content mt-50" data-aos="fade-right">
            <img src="assets/tools.jpg" alt="" height="100%" width="100%" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="parallax"></div>
<!-- Our goal -->


<!-- Asked questions -->

<section id="about" class="about-area" style="padding : 50px 0">
  <div class="container">
    <div class="row">
      <div class="col-lg-5" style="padding-bottom: 20px;">
        <div class="faq-content mt-45">
          <div class="about-title">
            <h6 class="sub-title">A Little More About Us</h6>
            <h4 class="title">
              Frequently Asked Questions <br />
              About Our Site
            </h4>
          </div>
          <div class="about-accordion">
            <div class="accordion" id="accordionExample">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <a
                    href="#"
                    data-target="#collapseOne"
                    aria-expanded="false"
                    aria-controls="collapseOne"
                    class="collapsed"
                    >Frequently Asked Question One</a
                  >
                </div>
                <div
                  id="collapseOne"
                  class="collapse"
                  aria-labelledby="headingOne"
                  data-parent="#accordionExample"
                  style=""
                >
                  <div class="card-body">
                    <p class="text">
                      Morbi vehicula arcu et pellentesque tincidunt. Nunc ligula
                      nulla, lobortis a elementum non, vulputate ut arcu.
                      Aliquam erat volutpat. Nullam lacinia felis.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingTwo">
                  <a
                    href="#"
                    class="collapsed"
                    data-toggle="collapse"
                    data-target="#collapseTwo"
                    aria-expanded="false"
                    aria-controls="collapseTwo"
                    >Frequently Asked Question Two</a
                  >
                </div>
                <div
                  id="collapseTwo"
                  class="collapse"
                  aria-labelledby="headingTwo"
                  data-parent="#accordionExample"
                  style=""
                >
                  <div class="card-body">
                    <p class="text">
                      Morbi vehicula arcu et pellentesque tincidunt. Nunc ligula
                      nulla, lobortis a elementum non, vulputate ut arcu.
                      Aliquam erat volutpat. Nullam lacinia felis.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingThree">
                  <a
                    href="#"
                    class="collapsed"
                    data-toggle="collapse"
                    data-target="#collapseThree"
                    aria-expanded="false"
                    aria-controls="collapseThree"
                    >Frequently Asked Question Three</a
                  >
                </div>
                <div
                  id="collapseThree"
                  class="collapse"
                  aria-labelledby="headingThree"
                  data-parent="#accordionExample"
                  style=""
                >
                  <div class="card-body">
                    <p class="text">
                      Morbi vehicula arcu et pellentesque tincidunt. Nunc ligula
                      nulla, lobortis a elementum non, vulputate ut arcu.
                      Aliquam erat volutpat. Nullam lacinia felis.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingFore">
                  <a
                    href="#"
                    class="collapsed"
                    data-toggle="collapse"
                    data-target="#collapseFore"
                    aria-expanded="false"
                    aria-controls="collapseFore"
                    >Frequently Asked Question Four</a
                  >
                </div>
                <div
                  id="collapseFore"
                  class="collapse"
                  aria-labelledby="headingFore"
                  data-parent="#accordionExample"
                  style=""
                >
                  <div class="card-body">
                    <p class="text">
                      Morbi vehicula arcu et pellentesque tincidunt. Nunc ligula
                      nulla, lobortis a elementum non, vulputate ut arcu.
                      Aliquam erat volutpat. Nullam lacinia felis.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingFive">
                  <a
                    href="#"
                    class="collapsed"
                    data-toggle="collapse"
                    data-target="#collapseFive"
                    aria-expanded="false"
                    aria-controls="collapseFive"
                    >Frequently Asked Question Five</a
                  >
                </div>
                <div
                  id="collapseFive"
                  class="collapse"
                  aria-labelledby="headingFive"
                  data-parent="#accordionExample"
                  style=""
                >
                  <div class="card-body">
                    <p class="text">
                      Morbi vehicula arcu et pellentesque tincidunt. Nunc ligula
                      nulla, lobortis a elementum non, vulputate ut arcu.
                      Aliquam erat volutpat. Nullam lacinia felis.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="about-image mt-50">
          <img src="https://static01.nyt.com/images/2020/01/01/business/01Techfix-print/01Techfix-print-articleLarge.gif?quality=75&auto=webp&disable=upscale" alt="about" />
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
