$toolbarHeight: 60px;

div.panel1 {
    //display: block;
    //position: fixed;
    background-image: url("../../../assets/test.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    //height: 100%;
    height : calc(100vh - #{$toolbarHeight});
}



div.toolbar{
    height : $toolbarHeight;
}

app-toolbar{
    margin : 0;
}
div.section{
    padding : 10%;
    padding-top: 15%;
    padding-right: 40%;
}

/*
div.section {
    position: relative;
    margin: 10%;
    margin-top: 15%;
    margin-right: 40%;
}*/

div * {
    color: black;
}

h1 {
    margin : 0px;
    padding : 0.67em;
}

.popularChoices {
    max-height: 500px;
    height: 500px;
    position: relative;
    width : 100%;

    margin-top : 50px;
    margin-bottom : 50px;
}