@import "src/colors";
@import "src/dimens";

div.panel1 {
  background-image: url("../../../assets/test.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: calc(100vh - #{$toolbar-height});
  min-height : 500px;
}

div.toolbar {
  height: $toolbar-height;
}

app-toolbar {
  margin: 0;
}

div.section {
  padding: 10%;
  padding-top: 15%;
  padding-right: 40%;
}

div * {
  color: black;
}

h1 {
  margin: 0px;
  padding: 0.67em;
}

.popularChoices,
.reviews {
  position: relative;
  width: 100%;
}

.popularChoices {
  max-height: 500px;
  height: 500px;
  margin: 50px 0;
}

.reviews {
    padding-top: 80px;
  padding-bottom: 130px;
  background-color: $color-black;;
}

.reviews * {
  color: white;
}

// .objectifContainer {
  
//   background-color: #f4f6f7;
// }

.parallax {
  /* The image used */
  background-image: url("/assets/nice_room.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
