<app-toolbar></app-toolbar>
<div class="padder">
    <div class="mainContainer">
        <!-- Upper profile pic -->
        <div class="upperContainer">
            <div class="upperBanner"></div>
            <img id="profile" src="assets/profilePic.jpg" alt="ProfilePic">
            <div class="description">
                <h4>Profile Name</h4>
                <h5>Profession</h5>
                <h6>Montréal, Québec, Canada</h6>
                <h6>Description :</h6>
                <p> enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>

        </div>

        <div class="containerSection">
            <h4 class="sectionTitle">What I Do</h4>
        </div>
        <div class="containerSection">
            <h4 class="sectionTitle">What I Do</h4>
        </div>
        <hr>

        <h3>What I have done</h3>
        <h1 style="text-align: center;">UR FOCKEN MOMMA</h1>

    </div>
</div>
<app-footer></app-footer>
