img {
    width : 100%;
    height : 100%;
}

.top-left {
    position: absolute;
    top: 10px;
    left: 10px;
}
.top-left h4 {
    margin-bottom: 2px;
    font-size: 1em;
}

h4:hover {
    opacity: 1;
}
img:hover {
    opacity: 0.4;
}