<app-toolbar></app-toolbar>

<div class="padder">
    <div class="mainContainer">
        <aside>
            <div class="square">
                <div class="content">
                    <a href="profile"><img src="assets/profilePic.jpg" alt="ProfilePic"></a>
                </div>
            </div>
            <div class="userInfo">
                <h3>Nom de la personne</h3>
                <h4>Profession</h4>
                <h4>(514) XXX-XXXX</h4>
            </div>
            <button (click)="gotoProfile()">See Profile</button>
            <button>Contact the seller</button>
        </aside>

        <div class="contentContainer">
            <h2>An example of what I've previously done</h2>
            <img src="assets/about.jpg" alt="About">
            <h3>About This Gig</h3>
            <p>dsmakldsldmsa ldkasdaslkdsadklm sadlkasdmsadmklsamdasl sald msad sadklsam dklsamdsklamlsakdmsklad mslakdmsl kamdlkad msla</p>
            <p>dsmakld sldmsaldkasdaslkdsadkl sadlkasdmsadmklsamdasl sald msad sadklsam dklsamdsklamlsakdmsklad mslakdmsl kamdlkad msla</p>
            <p>dsmakldsl dmsaldkasdaslkdsadklmsadlk asdmsadmklsamdasl sald msad sadklsam dklsamdsklamlsakdmsklad mslakdmsl kamdlkad msla</p>
            <p>dsmakldsldmsa ldkasdaslkdsadklm sadlkasdmsadmklsamdasl sald msad sadklsam dklsamdsklamlsakdmsklad mslakdmsl kamdlkad msla</p>
        
        </div>
        
    </div>
</div>

<app-footer></app-footer>