a:hover {
    
    background-color: black;
}

a {
    
    text-decoration: none;
    text-align: center;
    padding-top: 14px;
    padding-right: 16px;
    padding-bottom: 14px;
    padding-left: 16px;
    background-color: transparent;
}

li.creds {
    
    padding-left: 80%;
}

li {
    
    display: inline;
}

ul {
    
    position: sticky;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #222;
    border-style: double;
    border-radius: 3px;
}

ul a {
    
    display: inline-block;
    color: white;
    font-weight: bold;
}

.toolbar {
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    display: flex;
    align-items: center;
    background-color: #24292e;
    color: white;
    font-weight: 600;
}
.spacer {
    flex: 1;
}