@import "src/colors";
@import "src/dimens";

a:hover {
    background-color: black;
}

.toolbar {
    height : $toolbar-height;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    display: flex;
    align-items: center;
    background-color: $color-black;
    color: white;
    font-weight: 600;
}

a {
    color : white;
    text-decoration: none;
    text-align: center;
    background-color: transparent;
}

a.fullHeight{
    height : 100%;
}

.tabs a{
    padding: 14px 16px;
}


.spacer {
    flex: 1;
}