a:hover {
    
    background-color: black;
}

a.active {
    
    background-color: green;
}

a {
    
    text-decoration: none;
    text-align: center;
    padding-top: 14px;
    padding-right: 16px;
    padding-bottom: 14px;
    padding-left: 16px;
    background-color: transparent;
}

li.creds {
    
    padding-left: 80%;
}

li {
    
    display: inline;
}

ul {
    
    position: sticky;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #333;
}

ul a {
    
    display: inline-block;
    color: white;
    font-weight: bold;
}